[Desktop Entry]
Name=TuxKart
Comment=Another game that stars Tux, the Linux Penguin
Comment[pl]=Kolejna gra z linuksowym pingwinem Tuksem
Exec=tuxkart
Terminal=false
Icon=tuxkart.png
Type=Application
# vi: encoding=utf-8
